


.card{
    font-size: 40px;
    background-color: rgb(203, 200, 200);
    display: inline;
}

.black{
    display: inline;
    color: black;
}

.red{
    display: inline;
    color: red;
}